body{
    background-color: black;
    color: white;
}

div{
    display: inline-table;
}

#imagembeatriz{
    background-color: rgb(60, 3, 94);
    height: 400px;
    border: 5px solid rgb(168, 155, 155);
}

#imagemjoao{
    background-color: rgb(3, 83, 94);
    height: 400px;
    border: 5px solid rgb(168, 155, 155);
}


#vida{
    background-color: red;
    width: 390px;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid white;
    text-align: center;
    font-weight: bolder;
}

#sanidade{
    background-color: blue;
    width: 390px;
    padding: 10px;
    font-size: 1.5em;
    border: 2px solid white;
    text-align: center;
    font-weight: bolder;
}

table{
    width: 410px;
    margin-top: 0px;
}

td{
    outline: 2px solid white;
    border-collapse: collapse;
    padding: 5px;
    font-size: 2em;
}

td#tdatributos{
    font-weight: bolder;
    text-align: center;
}

td.valor{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

input{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

/* ITENS */

.item{
    margin-top: 20px;
    outline: 2px solid white;
    height: 70px;
    width: 70px;
} 

.itens{
    display: inline-table;
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
}


/* Mapas */

.mapa{
    height: 410px;
}

section{
    border: 5px solid rgb(61, 61, 61);
    height: 400px;
    width: 350px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    text-align: center;
    padding: 10px;
    font-weight: 1.3em;
}

#jogador{
    text-align: center;
}

#slots{
    text-align: center; 
    font-size: 2em;
    border: 3px solid white;
}
